doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Rorschach
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/font-awesome/css/font-awesome.css" rel="stylesheet")
        link(href="/css/animate.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet")
        //- link(href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet")
        //- link(href="/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet")
        link(rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css")
    body.gray-bg
        .container.animated.fadeInDown.m-t-lg
            .row
                .col-md-12
                    .ibox-title
                        h5 수검자 인적사항
                    .ibox-content
                        form.m-t.form-horizontal(role="form" action="/test2" method="POST")
                            .hr-line-dashed
                            .form-group
                                label.col-sm-1.control-label 이름
                                .col-sm-2
                                    input.form-control(type="text" placeholder="이름" name="name" required)
                                label.col-sm-1.control-label 성별
                                .col-sm-2
                                    select.form-control(name="sex")
                                        option(value="male") 남
                                        option(value="female") 여
                                label.col-sm-2.control-label 채점방식
                                .col-sm-4
                                    select.form-control(disabled)
                                        option 자동해석
                            
                            .form-group
                                label.col-sm-1.control-label 학력
                                .col-sm-3
                                    input.form-control(name="graduate" placeholder="학력")
                                label.col-sm-1.control-label 직업
                                .col-sm-3
                                    input.form-control(type="text" placeholder="직업" name="job")
                                label.col-sm-1.control-label 진단명
                                .col-sm-3
                                    input.form-control(type="text" placeholder="진단명" name="diagnosis")
                            .form-group
                                label.col-sm-1.control-label 생년월일
                                .col-sm-2
                                    input#birthday.form-control(type="text" readonly="readonly" required name="birthday")
                                label.col-sm-1.control-label 검사일자
                                .col-sm-2
                                    input#today.form-control(type="text" readonly="readonly" value=moment().format('YYYY-MM-DD') name="testdate")
                                label.col-sm-1.control-label 검사기관
                                .col-sm-2
                                    input.form-control(type="text" placeholder="검사기관" value=session.user.comName name="comName_input")
                                label.col-sm-1.control-label 검사자
                                .col-sm-2
                                    input.form-control(type="text" placeholder="검사자" value=session.user.name name="inspector")
                            .hr-line-dashed
                            .form-group
                                .col-sm-4.col-sm-offset-1
                                    a.btn.btn-white(href="/") 취소
                                    button.btn.btn-primary(type="submit") 저장 후 다음
                                

                            
        script(src="/js/jquery-2.1.1.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/plugins/metisMenu/jquery.metisMenu.js")
        script(src="/js/plugins/slimscroll/jquery.slimscroll.min.js")
        script(src="/js/inspinia.js")
        script(src="/js/plugins/pace/pace.min.js")
        script(src="/js/plugins/flot/jquery.flot.js")
        script(src="/js/plugins/flot/jquery.flot.tooltip.min.js")
        script(src="/js/plugins/flot/jquery.flot.resize.js")
        script(src="/js/plugins/chartJs/Chart.min.js")
        script(src="/js/plugins/peity/jquery.peity.min.js")
        script(src="/js/demo/peity-demo.js")
        script(src="/js/plugins/fullcalendar/moment.min.js")
        script(src="/js/plugins/datapicker/bootstrap-datepicker.js")
        script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js")
        script.
            $(document).ready(function(){
                $("#birthday" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear:true,
                    dayNames: ['일요일','월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
                    dayNamesMin: ['일','월', '화', '수', '목', '금', '토'],
                    monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
                    monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월']    
                });

                $("#today" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: "yy-mm-dd",
                    showMonthAfterYear:true,
                    dayNames: ['일요일','월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
                    dayNamesMin: ['일','월', '화', '수', '목', '금', '토'],
                    monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
                    monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월']    
                });
                    
            })