@media print {
    .wide-page,
    .page {
        display: block !important;
        position: relative !important;
    }
    .wide-page:not(.no-watermark):after,
    .page:not(.no-watermark):after {
        content: "" !important;
        background: url('/img/logo.jpg') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        opacity: 0.1 !important;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        position: absolute !important;
        z-index: 99 !important;
    }
	body {
		font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 13px !important;
		color: #676a6c !important;
	}
	* {
		color: #676a6c !important;
	}
	.table.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
		background-color: #F5F5F6 !important;
		border-bottom-width: 1px;
	}
	html, body, * {-webkit-print-color-adjust: exact !important;}
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
   }
   .col-md-12 {
        width: 100%;
   }
   .col-md-11 {
        width: 91.66666667%;
   }
   .col-md-10 {
        width: 83.33333333%;
   }
   .col-md-9 {
        width: 75%;
   }
   .col-md-8 {
        width: 66.66666667%;
   }
   .col-md-7 {
        width: 58.33333333%;
   }
   .col-md-6 {
        width: 50%;
   }
   .col-md-5 {
        width: 41.66666667%;
   }
   .col-md-4 {
        width: 33.33333333%;
   }
   .col-md-3 {
        width: 25%;
   }
   .col-md-2 {
        width: 16.66666667%;
   }
   .col-md-1 {
        width: 8.33333333%;
   }
}
