doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Rorschach
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/font-awesome/css/font-awesome.css" rel="stylesheet")
        link(href="/css/animate.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet")
        link(href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet")
        link(href="/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet")
        link(href='/css/table-hover-cells.css', rel='stylesheet')
    body.gray-bg
        .container-fluid.animated.fadeInDown.m-t-lg
            .row
                .col-md-12
                    
                    
        script(src="/js/jquery-2.1.1.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/plugins/metisMenu/jquery.metisMenu.js")
        script(src="/js/plugins/slimscroll/jquery.slimscroll.min.js")
        script(src="/js/inspinia.js")
        script(src="/js/plugins/pace/pace.min.js")
        script(src="/js/plugins/flot/jquery.flot.js")
        script(src="/js/plugins/flot/jquery.flot.tooltip.min.js")
        script(src="/js/plugins/flot/jquery.flot.resize.js")
        script(src="/js/plugins/chartJs/Chart.min.js")
        script(src="/js/plugins/peity/jquery.peity.min.js")
        script(src="/js/demo/peity-demo.js")
        script(src="/js/plugins/fullcalendar/moment.min.js")
        script(src="/js/plugins/datapicker/bootstrap-datepicker.js")
        script(src="/js/plugins/daterangepicker/daterangepicker.js")
        script(src="/js/plugins/clockpicker/clockpicker.js")