doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        title Rorschach
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/font-awesome/css/font-awesome.css" rel="stylesheet")
        link(href="/css/animate.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet")
        link(href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet")
        link(href="/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet")
        link(href='/css/table-hover-cells.css', rel='stylesheet')
        style.
            .table > tbody > tr > td {
                vertical-align: middle !important;
            }
    body.gray-bg
        .container-fluid.animated.fadeInDown.m-t-lg
            .row
                .col-md-12
                    .ibox-title
                        h5 기존에 입력한 데이터 불러오기
                    .ibox-content
                        form.form-group(method="POST" action="/scoring1")
                            select.form-control(name="id")
                                each data in datas
                                    option(value=data.id)=data.name + " " + data.sex + " " + data.testdate
                               
                            button.btn.btn-primary.mt-3(style="margin-top: 10px;") 입력
                            
            .row
                .col-md-12
                    .ibox-title
                        h5 등록번호 : #{session.insertId}   
                    .ibox-content
                        table#card-table.table.table-sm.table-striped.table-bordered
                            thead
                                tr
                                    th.text-center.col-xs-1(scope="col") 카드
                                    th.text-center.col-xs-1(scope="col") 번호
                                    th.text-center.col-xs-1(scope="col") 위치
                                    th.text-center.col-xs-1(scope="col") DQ
                                    th.text-center(scope="col") 결정인
                                    th.text-center.col-xs-1(scope="col") FQ
                                    th.text-center.col-xs-1(scope="col") (2)
                                    th.text-center(scope="col") 내용
                                    th.text-center.col-xs-1(scope="col") P
                                    th.text-center.col-xs-1(scope="col") Z
                                    th.text-center(scope="col") 특수점수
                            tbody#score-table
                                mixin card-tr(display, index)
                                    tr(data-index=index, style=(display == 'hidden' ? 'display: none' : ''))
                                        td.form-group.text-center(scope="row")
                                            select.form-control.card-select(name="card" style="text-align-last:center;")
                                                option Ⅰ
                                                option Ⅱ
                                                option Ⅲ
                                                option Ⅳ
                                                option Ⅴ
                                                option Ⅵ
                                                option Ⅶ
                                                option Ⅷ
                                                option Ⅸ
                                                option Ⅹ
                                        td.text-center.form-group.number 1
                                        td.text-center.form-group
                                            //-button.btn.btn-default.loc-btn 선택
                                            select.form-control(name="loc" style="text-align-last:center;")
                                                option(selected='selected' hidden) [선택]
                                                option W
                                                option D
                                                option Dd
                                                option WS
                                                option DS
                                                option DdS
                                        td.text-center.form-group
                                            select.form-control(name="dq" style="text-align-last:center;")
                                                option(selected='selected' hidden) [선택]
                                                option +
                                                option o
                                                option v/+
                                                option v
                                        td.text-center
                                            button.btn.btn-default.btn-sm.determinant.btn-block 선택
                                        td.text-center.form-group
                                            select.form-control(name='fq' style="text-align-last:center;")
                                                option(selected='selected' hidden) [선택]
                                                option +
                                                option o
                                                option u
                                                option -
                                                option none
                                        td.text-center.form-group
                                            select.form-control.select2(style="text-align-last:center;")
                                                option(value='') [없음]
                                                option (2)
                                        td.text-center
                                            button.btn.btn-default.btn-sm.react-btn.btn-block 선택
                                        td.text-center.form-group
                                            select.form-control.selectP(style="text-align-last:center;")
                                                option(value='') [없음]
                                                option P
                                        td.text-center
                                            select.form-control.selectZ(style="text-align-last:center;")
                                                option(value='') [없음]
                                        td.text-center
                                            button.btn.btn-default.btn-sm.score-btn.btn-block 선택
                                +card-tr('hidden', 0)
                                +card-tr('show', 1)

                        .form-group
                            button.btn.btn-info#addReact 반응추가
                            button.btn.btn-danger#deleteReact 반응삭제
                        .hr-line-dashed
                        .row
                            .col-lg-1.col-lg-offset-11
                                form.form(action="/finishtest1" method="POST" onsubmit='return stringifyForm()')
                                    input(type="hidden" name="stringifyText")
                                    input(type="hidden" name="testID" value=session.insertId)
                                    button.btn.btn-primary(type="submit") 채 점



        .modal.fade#locModal(tabindex='-1', role='dialog')
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header
                        h2.modal-title(style='display: inline-block; font-weight: bold') CARD

                    .modal-body
                        .row(style='height: 300px;')
                            .col-lg-4.text-center(data-cindex='1')
                            .col-lg-4.text-center(data-cindex='2')
                            .col-lg-4.text-center(data-cindex='3')
                        .row(style='height: 300px;')
                            .col-lg-4.text-center(data-cindex='4')
                            .col-lg-4.text-center(data-cindex='5')
                            .col-lg-4.text-center(data-cindex='6')
                    .modal-footer
                        //- button.btn.btn-primary(type='button') Save changes
                        button.btn.btn-primary(type='button', data-dismiss='modal') 확인

        .modal.fade#detModal(tabindex='-1', role='dialog')
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header
                        h2.modal-title(style='display: inline-block; font-weight: bold') 결정인
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        .row
                            .col-lg-6
                                table.table.table-striped.table-bordered.table-hover-cells
                                    thead
                                        tr
                                            th.text-center(colspan="2") 형태 반응<br/>(Form)
                                            th.text-center(colspan="3") 자기관여 반응<br/>(Self-involvement)
                                            
                                    tbody
                                        tr
                                            td.text-center 
                                                span.title 순수
                                                | (Pure)
                                            td.text-center 
                                                span.title 차원
                                                | (Dimension)
                                            td.text-center
                                                span.title 쌍
                                                | (Fair)
                                            td.text-center(colspan="2")
                                                span.title 반사
                                                | (Reflection)

                                        tr
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='form1', data-dvalue='F') F
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='form2', data-dvalue='FD') FD
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='(2)', data-dvalue='(2)') (2)
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='reflection1', data-dvalue='Fr') Fr
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='reflection2', data-dvalue='rF') rF

                                table.table.table-striped.table-bordered.table-hover-cells(style='margin-top: 40px;')
                                    thead
                                        tr
                                            th.text-center(colspan="5")  운동 반응(Movement)
    
                                            
                                    tbody
                                        tr
                                            td(colspan="2")
                                            td(style='width: 23%;').text-center 
                                                span.title 능동<br/>
                                                |(Active)
                                            td(style='width: 23%;').text-center
                                                span.title 수동<br/>
                                                | (Passive)
                                            td(style='width: 23%;').text-center.title a-p  

                                        tr
                                            td(colspan="2")
                                                span.title 사람
                                                | (Human)
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='active1', data-dvalue='M<sup>a</sup>', data-dfirst) M<sup>a</sup>
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='passive1', data-dvalue='M<sup>p</sup>') M<sup>p</sup>
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='a-p1', data-dvalue='M<sup>a-p</sup>') M<sup>a-p</sup>
                                        tr
                                            td(colspan="2")
                                                span.title 동물
                                                | (Animal)
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='active2', data-dvalue='FM<sup>a</sup>', data-dfirst) FM<sup>a</sup>
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='passive2', data-dvalue='FM<sup>p</sup>') FM<sup>p</sup>
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='a-p2', data-dvalue='FM<sup>a-p</sup>') FM<sup>a-p</sup>
                                        tr
                                            td(colspan="2")
                                                span.title 무생물
                                                | (Inaminate)
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='active3', data-dvalue='m<sup>a</sup>', data-dfirst) m<sup>a</sup>
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='passive3', data-dvalue='m<sup>p</sup>') m<sup>p</sup>
                                            td.text-center.d-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='a-p3', data-dvalue='m<sup>a-p</sup>') m<sup>a-p</sup>
                            
                            .col-lg-6   
                                table.table.table-striped.table-bordered.table-hover-cells
                                    thead
                                        tr
                                            th.text-center(colspan="4")  유채색 반응 (Chromatic Color)
    
                                            
                                    tbody
                                        tr
                                            td.text-center.d-form.col-md-3(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='chromatic1', data-dvalue='FC') FC
                                            td.text-center.d-form.col-md-3(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='chromatic2', data-dvalue='CF') CF
                                            td.text-center.d-form.col-md-3(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='chromatic3', data-dvalue='C') C
                                            td.text-center.d-form.col-md-3(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-dkey='chromatic4', data-dvalue='Cn') Cn

                                table.table.table-striped.table-bordered.table-hover-cells
                                    thead
                                        tr
                                            th.text-center(colspan="3")  무채색 반응 (Achromatic Color)
    
                                            
                                    tbody
                                        tr
                                            td.text-center.d-form(style='cursor: pointer; width: 33.3%;font-size: 12pt; font-weight: bold;', data-dkey='achromatic3', data-dvalue='FC\'') FC'
                                            td.text-center.d-form(style='cursor: pointer; width: 33.3%;font-size: 12pt; font-weight: bold;', data-dkey='achromatic2', data-dvalue='C\'F') C'F
                                            td.text-center.d-form(style='cursor: pointer; width: 33.3%;font-size: 12pt; font-weight: bold;', data-dkey='achromatic1', data-dvalue='C\'') C'
                                
                                table.table.table-striped.table-bordered.table-hover-cells
                                    thead
                                        tr
                                            th.text-center(colspan="5") 음영 반응(Shadings)
    
                                            
                                    tbody
                                        tr
                                            td(colspan="1")
                                                span.title 재질
                                                | (Texture)
                                            td.text-center.d-form(style='cursor: pointer; width: 25%;font-size: 12pt; font-weight: bold;', data-dkey='texture3', data-dvalue='FT') FT
                                            td.text-center.d-form(style='cursor: pointer; width: 25%;font-size: 12pt; font-weight: bold;', data-dkey='texture2', data-dvalue='TF') TF
                                            td.text-center.d-form(style='cursor: pointer; width: 25%;font-size: 12pt; font-weight: bold;', data-dkey='texture1', data-dvalue='T') T
                                        tr
                                            td(colspan="1")
                                                span.title 깊이
                                                | (Vista)
                                            td.text-center.d-form(style='cursor: pointer; width: 25%;font-size: 12pt; font-weight: bold;', data-dkey='vista3', data-dvalue='FV') FV
                                            td.text-center.d-form(style='cursor: pointer; width: 25%;font-size: 12pt; font-weight: bold;', data-dkey='vista2', data-dvalue='VF') VF
                                            td.text-center.d-form(style='cursor: pointer; width: 25%;font-size: 12pt; font-weight: bold;', data-dkey='vista1', data-dvalue='V') V
                                        tr
                                            td(colspan="1")
                                                span.title 번짐
                                                | (Diffuse)
                                            td.text-center.d-form(style='cursor: pointer; width: 25%;font-size: 12pt; font-weight: bold;', data-dkey='diffuse3', data-dvalue='FY') FY
                                            td.text-center.d-form(style='cursor: pointer; width: 25%;font-size: 12pt; font-weight: bold;', data-dkey='diffuse2', data-dvalue='YF') YF
                                            td.text-center.d-form(style='cursor: pointer; width: 25%;font-size: 12pt; font-weight: bold;', data-dkey='diffuse1', data-dvalue='Y') Y
                            
                            
                        .row
                            .col-lg-12
                                .form-group
                                    label 선택한 결정인
                                    #selectedDet
                    .modal-footer
                        //- button.btn.btn-primary(type='button') Save changes
                        button.btn.btn-primary(type='button', data-dismiss='modal') 확인

        .modal.fade#reactModal(tabindex='-1', role='dialog')
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header
                        h2.modal-title(style='display: inline-block; font-weight: bold;') 반응 내용
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        .row
                            .col-lg-4
                                table.table.table-striped.table-bordered.table-hover-cells
                                    tbody
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='H', data-rvalue='H') H
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='H', data-rvalue='H')
                                                span.title 전체 사람 반응
                                                br
                                                | (Whole Human)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer; font-weight: bold; font-size: 12pt;', data-rkey='(H)', data-rvalue='(H)') (H)
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='(H)', data-rvalue='(H)')
                                                span.title 가상 전체 사람 반응
                                                br
                                                | (Fictional of Mythological)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Hd', data-rvalue='Hd') Hd
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Hd', data-rvalue='Hd')
                                                span.title 부분 사람 반응
                                                br
                                                | (Human Detail)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer; font-weight: bold; font-size: 12pt;', data-rkey='(Hd)', data-rvalue='(Hd)') (Hd)
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='(Hd)', data-rvalue='(Hd)')
                                                span.title 가상 부분 사람 반응
                                                br
                                                | (Fictional of Mythological)
                                table.table.table-striped.table-bordered.table-hover-cells
                                    tbody
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='A', data-rvalue='A') A
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='A', data-rvalue='A')
                                                span.title 전체 동물 반응
                                                br
                                                | (Whole Animal)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer; font-weight: bold; font-size: 12pt;', data-rkey='(A)', data-rvalue='(A)') (A)
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='(A)', data-rvalue='(A)')
                                                span.title 가상 전체 동물 반응
                                                br
                                                | (Fictional of Mythological)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Ad', data-rvalue='Ad') Ad
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Ad', data-rvalue='Ad')
                                                span.title 부분 동물 반응
                                                br
                                                | (Animal Detail)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer; font-weight: bold; font-size: 12pt;', data-rkey='(Ad)', data-rvalue='(Ad)') (Ad)
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='(Ad)', data-rvalue='(Ad)')
                                                span.title 가상 부분 동물 반응
                                                br
                                                | (Fictional of Mythological)
                                table.table.table-striped.table-bordered.table-hover-cells
                                    tbody
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Hh', data-rvalue='Hh') Hh
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Hh', data-rvalue='Hh')
                                                span.title 세간 반응
                                                br
                                                | (Household)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Cg', data-rvalue='Cg') Cg
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Cg', data-rvalue='Cg')
                                                span.title 의복 반응
                                                br
                                                | (Clothing)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Fd', data-rvalue='Fd') Fd
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Fd', data-rvalue='Fd')
                                                span.title 음식 반응
                                                br
                                                | (Food)
                                


                            .col-lg-4
                                table.table.table-striped.table-bordered.table-hover-cells
                                    tbody
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Na', data-rvalue='Na', data-validate='Bt', data-validate-msg='Na를 선택하면 Bt와 Ls는 선택할 수 없습니다.', data-validate2='Ls', data-validate2-msg='Na를 선택하면 Bt와 Ls는 선택할 수 없습니다.') Na
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Na', data-rvalue='Na',data-validate='Bt', data-validate-msg='Na를 선택하면 Bt와 Ls는 선택할 수 없습니다.', data-validate2='Ls', data-validate2-msg='Na를 선택하면 Bt와 Ls는 선택할 수 없습니다.')
                                                span.title 자연 반응
                                                br
                                                | (Nature)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Bt', data-rvalue='Bt', data-validate='Na', data-validate-msg='Na를 선택하면 Bt와 Ls는 선택할 수 없습니다.', data-validate2='Ls', data-validate2-msg='Bt와 Ls는 함께 선택할 수 없습니다. 둘 중 하나만 선택하세요.') Bt
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Bt', data-rvalue='Bt', data-validate='Na', data-validate-msg='Na를 선택하면 Bt와 Ls는 선택할 수 없습니다.', data-validate2='Ls', data-validate2-msg='Bt와 Ls는 함께 선택할 수 없습니다. 둘 중 하나만 선택하세요.')
                                                span.title 식물 반응
                                                br
                                                | (Botany)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Ls', data-rvalue='Ls', data-validate='Na', data-validate-msg='Na를 선택하면 Bt와 Ls는 선택할 수 없습니다.', data-validate2='Bt', data-validate2-msg='Bt와 Ls는 함께 선택할 수 없습니다. 둘 중 하나만 선택하세요.') Ls
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Ls', data-rvalue='Ls', data-validate='Na', data-validate-msg='Na를 선택하면 Bt와 Ls는 선택할 수 없습니다.', data-validate2='Bt', data-validate2-msg='Bt와 Ls는 함께 선택할 수 없습니다. 둘 중 하나만 선택하세요.')
                                                span.title 풍경 반응
                                                br
                                                | (Landscape)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Ge', data-rvalue='Ge') Ge
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Ge', data-rvalue='Ge')
                                                span.title 지도 반응
                                                br
                                                | (Geography)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Cl', data-rvalue='Cl') Cl
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Cl', data-rvalue='Cl')
                                                span.title 구름 반응
                                                br
                                                | (Clouds)
                                table.table.table-striped.table-bordered.table-hover-cells
                                    tbody
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='An', data-rvalue='An', data-validate='Xy', data-validate-msg='An과 Xy는 함께 채점할 수 없습니다. 둘중 하나만 선택하세요.') An
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='An', data-rvalue='An', data-validate='Xy', data-validate-msg='An과 Xy는 함께 채점할 수 없습니다. 둘중 하나만 선택하세요.')
                                                span.title 해부 반응
                                                br
                                                | (Anatomy)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Xy', data-rvalue='Xy', data-validate='An', data-validate-msg='An과 Xy는 함께 채점할 수 없습니다. 둘 중 하나만 선택하세요.') Xy
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Xy', data-rvalue='Xy', data-validate='An', data-validate-msg='An과 Xy는 함께 채점할 수 없습니다. 둘 중 하나만 선택하세요.')
                                                span.title 엑스레이 반응
                                                br
                                                | (X-ray)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Bl', data-rvalue='Bl') Bl
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Bl', data-rvalue='Bl')
                                                span.title 피 반응
                                                br
                                                | (Blood)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Sx', data-rvalue='Sx') Sx
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Sx', data-rvalue='Sx')
                                                span.title 성 반응
                                                br
                                                | (Sex)
                                table.table.table-striped.table-bordered.table-hover-cells
                                    tbody
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Fi', data-rvalue='Fi') Fi
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Fi', data-rvalue='Fi')
                                                span.title 불 반응
                                                br
                                                | (Fire)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Ex', data-rvalue='Ex') Ex
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Ex', data-rvalue='Ex')
                                                | 폭발 반응
                                                br
                                                | (Explosion)
                                table.table.table-striped.table-bordered.table-hover-cells(style='margin-top: 53px;')
                                    tbody
                                        
                            .col-lg-4
                                table.table.table-striped.table-bordered.table-hover-cells
                                    tbody
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Hx', data-rvalue='Hx') Hx
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Hx', data-rvalue='Hx')
                                                span.title 사람 경험
                                                br
                                                | (Human Experience)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Art', data-rvalue='Art') Art
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Art', data-rvalue='Art')
                                                span.title 예술 반응
                                                br
                                                | (Art)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Ay', data-rvalue='Ay') Ay
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Ay', data-rvalue='Ay')
                                                span.title 인류학적 반응
                                                br
                                                | (Anthropology)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Sc', data-rvalue='Sc') Sc
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Sc', data-rvalue='Sc')
                                                span.title 과학 반응
                                                br
                                                | (Science)
                                
                                table.table.table-striped.table-bordered.table-hover-cells
                                    tbody
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='Id', data-rvalue='Id') Id
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='Id', data-rvalue='Id')
                                                span.title 특이한 내용
                                                br
                                                | (Idiographic Content)
                                        tr
                                            td.text-center.r-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-rkey='P', data-rvalue='P'): strong P
                                            td.text-center.r-form(style='cursor: pointer;', data-rkey='P', data-rvalue='P')
                                                span.title: strong 평범 반응
                                                br
                                                strong (Populars)
                            
                        .row
                            .col-lg-12
                                .form-group
                                    label 선택한 반응 내용
                                    #selectedReact
                    .modal-footer
                        //- button.btn.btn-primary(type='button') Save changes
                        button.btn.btn-primary(type='button', data-dismiss='modal') 확인

        .modal.fade#scoreModal(tabindex='-1', role='dialog')
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header
                        h2.modal-title(style='display: inline-block; font-weight: bold;') 특수 점수
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        .row
                            .col-lg-12
                                table.table.table-striped.table-bordered.table-hover-cells
                                    thead
                                        tr
                                            th.text-center(colspan=34) 특이한 언어반응 (Unusual Verbalization)
                                    tbody
                                        tr
                                            td(colspan=1)
                                            td.text-center(colspan=12) 
                                                span.title 특이한 언어 반응
                                                br
                                                | (Deviant Verbalization Response)
                                            td(colspan=2)
                                            td.text-center(colspan=18)
                                                span.title 부적절 반응 결과 부적절한 논리
                                                br
                                                | (Inappropriate Combinations and Logic)
                                            td(colspan=1)
                                        tr
                                            td(colspan=34)
                                        tr
                                            td(colspan=1)
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='DV1', data-svalue='DV1', colspan=6, data-validate='DR1', data-validate2='DR2', data-validate3='CONTAM', data-validate-msg='DV와 DR은 함께 채점되지 않습니다. 둘 다 해당하면 DR로 채점합니다.', data-validate2-msg='DV와 DR은 함께 채점되지 않습니다. 둘 다 해당하면 DR로 채점합니다.', data-validate3-msg='CONTAM이 있을 경우 DV, DR, INCOM, FABCOM, ALOG은 채점되지 않고 CONTAM 만 채점합니다.'): strong DV 1
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='DR1', data-svalue='DR1', colspan=6, data-validate='DV1', data-validate2='DV2', data-validate3='CONTAM', data-validate-msg='DV와 DR은 함께 채점되지 않습니다. 둘 다 해당하면 DR로 채점합니다.', data-validate2-msg='DV와 DR은 함께 채점되지 않습니다. 둘 다 해당하면 DR로 채점합니다.', data-validate3-msg='CONTAM이 있을 경우 DV, DR, INCOM, FABCOM, ALOG은 채점되지 않고 CONTAM 만 채점합니다.'): strong DR 1
                                            td(colspan=2)
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='INCOM1', data-svalue='INCOM1', colspan=6, data-validate='FABCOM1', data-validate2='FABCOM2',data-validate3='CONTAM', data-validate-msg='INCOM과 FABCOM은 함께 채점되지 않습니다. 둘 다 해당하면 FABCOM으로 채점합니다.', data-validate2-msg='INCOM과 FABCOM은 함께 채점되지 않습니다. 둘 다 해당하면 FABCOM으로 채점합니다.', data-validate3-msg='CONTAM이 있을 경우 DV, DR, INCOM, FABCOM, ALOG은 채점되지 않고 CONTAM 만 채점합니다.'): strong INCOM 1
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='FABCOM1', data-svalue='FABCOM1', colspan=6,data-validate='INCOM1', data-validate2='INCOM2', data-validate3='CONTAM', data-validate-msg='INCOM과 FABCOM은 함께 채점되지 않습니다. 둘 다 해당하면 FABCOM으로 채점합니다.', data-validate2-msg='INCOM과 FABCOM은 함께 채점되지 않습니다. 둘 다 해당하면 FABCOM으로 채점합니다.', data-validate3-msg='CONTAM이 있을 경우 DV, DR, INCOM, FABCOM, ALOG은 채점되지 않고 CONTAM 만 채점합니다.'): strong FABCOM 1
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='CONTAM', data-svalue='CONTAM', colspan=6, data-validate-func='validateCONTAM(this)', data-validate-msg='CONTAM이 있을 경우 DV, DR, INCOM, FABCOM, ALOG은 채점되지 않고 CONTAM만 채점합니다.'): strong CONTAM
                                            td(colspan=1)
                                        tr
                                            td(colspan=1)
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='DV2', data-svalue='DV2', colspan=6, data-validate='DR1', data-validate2='DR2', data-validate3='CONTAM', data-validate-msg='DV와 DR은 함께 채점되지 않습니다. 둘 다 해당하면 DR로 채점합니다.', data-validate2-msg='DV와 DR은 함께 채점되지 않습니다. 둘 다 해당하면 DR로 채점합니다.', data-validate3-msg='CONTAM이 있을 경우 DV, DR, INCOM, FABCOM, ALOG은 채점되지 않고 CONTAM 만 채점합니다.'): strong DV 2
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='DR2', data-svalue='DR2', colspan=6, data-validate='DV1', data-validate2='DV2', data-validate3='CONTAM', data-validate-msg='DV와 DR은 함께 채점되지 않습니다. 둘 다 해당하면 DR로 채점합니다.', data-validate2-msg='DV와 DR은 함께 채점되지 않습니다. 둘 다 해당하면 DR로 채점합니다.', data-validate3-msg='CONTAM이 있을 경우 DV, DR, INCOM, FABCOM, ALOG은 채점되지 않고 CONTAM 만 채점합니다.'): strong DR 2
                                            td(colspan=2)
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='INCOM2', data-svalue='INCOM2', colspan=6, data-validate='FABCOM1', data-validate2='FABCOM2', data-validate3='CONTAM', data-validate-msg='INCOM과 FABCOM은 함께 채점되지 않습니다. 둘 다 해당하면 FABCOM으로 채점합니다.', data-validate2-msg='INCOM과 FABCOM은 함께 채점되지 않습니다. 둘 다 해당하면 FABCOM으로 채점합니다.', data-validate3-msg='CONTAM이 있을 경우 DV, DR, INCOM, FABCOM, ALOG은 채점되지 않고 CONTAM 만 채점합니다.'): strong INCOM 2
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='FABCOM2', data-svalue='FABCOM2', colspan=6, data-validate='INCOM1', data-validate2='INCOM2', data-validate3='CONTAM', data-validate-msg='INCOM과 FABCOM은 함께 채점되지 않습니다. 둘 다 해당하면 FABCOM으로 채점합니다.', data-validate2-msg='INCOM과 FABCOM은 함께 채점되지 않습니다. 둘 다 해당하면 FABCOM으로 채점합니다.', data-validate3-msg='CONTAM이 있을 경우 DV, DR, INCOM, FABCOM, ALOG은 채점되지 않고 CONTAM 만 채점합니다.'): strong FABCOM 2
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='ALOG', data-svalue='ALOG', colspan=6, data-validate='CONTAM', data-validate-msg='CONTAM이 있을 경우 DV, DR, INCOM, FABCOM, ALOG은 채점되지 않고 CONTAM 만 채점합니다.'): strong ALOG
                                            td(colspan=1)
                                
                        .row
                            .col-lg-4
                                table.table.table-striped.table-bordered.table-hover-cells
                                    tbody
                                        tr
                                            td.text-center.align-middle(style='width: 50%; vertical-align: center;')
                                                span.title: strong 보속 반응
                                                br
                                                | (Perseveration)
                                            td.text-center.s-form(style='cursor: pointer; width: 50%; line-height: 50px;font-size: 12pt; font-weight: bold;', data-skey='PSV', data-svalue='PSV'): strong PSV
                            .col-lg-8
                                table.table.table-striped.table-bordered.table-hover-cells
                                    tbody
                                        tr
                                            td.text-center(style='width: 50%;')
                                                span.title: strong 사람 표상 반응
                                                br
                                                | (Human Representational Response)
                                            td.text-center(style='cursor: pointer; width: 25%; line-height: 50px;font-size: 12pt; font-weight: bold;', data-skey='GHR', data-svalue='GHR', colspan=6): strong GHR
                                            td.text-center(style='cursor: pointer; width: 25%; line-height: 50px;font-size: 12pt; font-weight: bold;', data-skey='PHR', data-svalue='PHR', colspan=6): strong PHR
                                      
                                    
                            
                        .row
                            .col-lg-7
                                table.table.table-striped.table-bordered.table-hover-cells
                                    thead
                                        tr
                                            td.text-center(colspan=4) 
                                                span.title: strong 특수 내용 반응
                                                br
                                                | (Special Content Characteristics)
                                    tbody
                                        tr
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold; width: 25%', data-skey='AB', data-svalue='AB'): strong  AB
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold; width: 25%', data-skey='MOR', data-svalue='MOR'): strong  MOR
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold; width: 25%', data-skey='AG', data-svalue='AG'): strong  AG
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold; width: 25%', data-skey='COP', data-svalue='COP'): strong  COP
                            .col-lg-2
                                table.table.table-striped.table-bordered.table-hover-cells
                                    thead
                                        tr
                                            td.text-center
                                                span.title: strong 개인적 반응
                                                br
                                                | (Personalized)
                                    tbody
                                        tr
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='PER', data-svalue='PER'): strong  PER
                            .col-lg-3
                                table.table.table-striped.table-bordered.table-hover-cells
                                    thead
                                        tr
                                            td.text-center
                                                span.title: strong 특수 색채 현상
                                                br
                                                | (Special Color Phenomena)
                                    tbody
                                        tr
                                            td.text-center.s-form(style='cursor: pointer;font-size: 12pt; font-weight: bold;', data-skey='CP', data-svalue='CP'): strong  CP
                        .row
                            .col-lg-12
                                .form-group
                                    label 선택한 특수 점수
                                    #selectedScore
                    .modal-footer
                        //- button.btn.btn-primary(type='button') Save changes
                        button.btn.btn-primary(type='button', data-dismiss='modal') 확인
                    
        script(src="/js/jquery-2.1.1.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/plugins/metisMenu/jquery.metisMenu.js")
        script(src="/js/plugins/slimscroll/jquery.slimscroll.min.js")
        script(src="/js/inspinia.js")
        script(src="/js/plugins/pace/pace.min.js")
        script(src="/js/plugins/flot/jquery.flot.js")
        script(src="/js/plugins/flot/jquery.flot.tooltip.min.js")
        script(src="/js/plugins/flot/jquery.flot.resize.js")
        script(src="/js/plugins/chartJs/Chart.min.js")
        script(src="/js/plugins/peity/jquery.peity.min.js")
        script(src="/js/demo/peity-demo.js")
        script(src="/js/plugins/fullcalendar/moment.min.js")
        script(src="/js/plugins/datapicker/bootstrap-datepicker.js")
        script(src="/js/plugins/daterangepicker/daterangepicker.js")
        script(src="/js/plugins/clockpicker/clockpicker.js")
        script(src='/js/plugins/stickytableheaders/jquery.stickytableheaders.min.js')
        script.
            $(document).ready(function(){
                $(document).on('click', '.card-img', function(event, pageX, pageY, clientX, clientY) {
                    pageX = pageX || event.pageX;
                    pageY = pageY || event.pageY;
                    clientX = clientX || event.clientX;
                    clientY = clientY || event.clientY;
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext('2d');
                    var x = pageX - $(this).offset().left,
                        y = pageY - $(this).offset().top,
                        w = ctx.canvas.width = this.width,
                        h = ctx.canvas.height = this.height,
                        alpha;



                    console.log('pageX', pageX, 'clientX', clientX, this.offsetLeft);
                    console.log($(this).offset());
                    console.log('x', x, 'y', y);
                    console.log('cx', this.clientLeft, 'cy', this.clientTop);
                    console.log('width', w, 'height', h);
                    console.log('this', this);
                    ctx.drawImage(this, 0, 0, w, h);
                    console.log(ctx.getImageData(x, y, 10, 10));
                    alpha = ctx.getImageData(x, y, 1, 1).data[3];

                    console.log(pageX, pageY, clientX, clientY);
                    console.log('alpha', alpha);
                    if (alpha == 0) {
                        $(this).hide();
                        $(document.elementFromPoint(clientX, clientY)).trigger('click', [pageX, pageY, clientX, clientY]);
                        $(this).show();
                    } else {
                        $(this).closest('div').find('.card-img').removeClass('hover');
                        $(this).addClass('hover');
                        console.log(this);
                    }   
                }); 
              setTimeout(function() {
                $('.animated').removeClass('animated'); // for sticky bug
              }, 1000);
              $('table').stickyTableHeaders();

                $("#birthday").datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                })
                $("#today").datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                })
                //- $(".determinant").click(function() {
                //-     var idx = $(this).index();
                //-     console.log(idx);
                //-     $('#detModal').modal('show');
                //- })

                // 카드 삭제 버튼
                $('#deleteReact').on('click', function() {
                    var tbody = $('#score-table');
                    var index = tbody.find('tr').length - 1;
                    if (index == 0) {
                        return;
                    }
                    console.log(index);
                    var tr = tbody.find('tr[data-index=' + index + ']');
                    console.log(tr);
                    tr.remove();
                    dets.pop();
                    reacts.pop();
                    scores.pop();
                })
                // 카드 추가 버튼
                $("#addReact").on('click', function(){
                    var a = $('#score-table').find('tr:eq(0)').clone()
                    $('#score-table').append(a);
                    a.show();
                    var index = $('#score-table tr').length - 1;
                    a.attr('data-index', index);
                    $('#score-table tr[data-index=' + index + '] .number').html((index));
                });
            })

        script.

            var dets = [ ];
            var reacts = [ ];
            var scores = [ ];
            var currentModalIndex = -1;


            function selectLocImageInModal(index, card) {
                var name = {
                    '1': [
                        ['layer', 'D1', 'Dd24'],
                        ['layer', 'D3', 'Dd28', 'Dd22', 'D2'],
                        ['layer', 'D4', 'Dd25', 'Dd23'],
                        ['layer', 'D7', 'Dd35', 'Dd21', 'Dd34', 'Dd33'],
                        ['layer', 'Dd27', 'DdS29', 'DdS30'],
                        ['layer', 'DdS32', 'DdS26', 'Dd31'],
                    ],
                }
                for (var i = 1; i <= 6; i++) {
                    var col = $('#locModal').find('[data-cindex=' + i + ']');
                    console.log(name[card][i-1]);
                    col.html('');
                    for (var j = 0; j < name[card][i-1].length; j++) {
                        col.append('<img class="card-img" src="/img/cards/' + card + '/' + card + '-' + i + '/' + name[card][i-1][j] + '.png" title="' + name[card][i-1][j] + '">');
                    }
                }
                //$('.card-img').tooltip('show');
            }
            // CONTAM validation
            //
            function validateCONTAM(e) {
              var index = currentModalIndex;
              var score = scores[index];
              if(!score) {
                return false;
              }
              return score.DV1 || score.DV2 || score.DR1 || score.DR2 || score.INCOM1 || score.INCOM2 || score.FABCOM1 || score.FABCOM2 || score.ALOG;
            }
            // 반응 위치 추가 버튼
            $(document).on('click', '.loc-btn', function() {
                var idx = $(this).closest('tr').attr('data-index');
                idx = parseInt(idx);
                var row = $('#score-table tr[data-index=' + idx + ']');
                var card = row.find('select[name=card] option:selected').val();
                var cardNum = numberMapper[card];
                currentModalIndex = idx;
                selectLocImageInModal(currentModalIndex, cardNum);
                $('#locModal').modal('show');

            });
            // 결정인 추가 버튼
            $(document).on('click', '.determinant', function(){
                var idx = $(this).closest('tr').attr('data-index');
                idx = parseInt(idx);
                $('#detModal').modal('show');
                parseDet(dets[idx] || {}, idx);
                currentModalIndex = idx;
            });

            // 내용 추가 버튼
            $(document).on('click', '.react-btn', function() {
                $('#selectedReact').html($(this).html());
                var idx = $(this).closest('tr').attr('data-index');
                idx = parseInt(idx);
                $('#reactModal').modal('show');
                parseReact(reacts[idx] || {}, idx);
                currentModalIndex = idx;
            });

            // 특수 점수 추가 버튼
            $(document).on('click', '.score-btn', function() {
                var idx = $(this).closest('tr').attr('data-index');
                idx = parseInt(idx);
                $('#scoreModal').modal('show');
                parseScore(scores[idx] || {}, idx);
                currentModalIndex = idx;
            })
        
            // 결정인 모달 테이블 셀 클릭
            $('.d-form').on('click', function() {
                var key = $(this).attr('data-dkey'); 
                var value = $(this).attr('data-dvalue');
                var first = $(this).attr('data-dfirst') == '';
                if (!dets[currentModalIndex]) {
                    dets[currentModalIndex] = { };
                }
                if (dets[currentModalIndex][key] && dets[currentModalIndex][key].value == value) {
                    delete dets[currentModalIndex][key];
                } else {
                    dets[currentModalIndex][key] = {value : value, first: first};
                }
                
                parseDet(dets[currentModalIndex], currentModalIndex);
                parseGPHR(currentModalIndex);
            });

            // 반응 모달 테이블 셀 클릭
            $('.r-form').on('click', function() {
                var key = $(this).attr('data-rkey');
                var value = $(this).attr('data-rvalue');
                var first = $(this).attr('data-rfirst') == '';
                var react = reacts[currentModalIndex];
                var val1 = $(this).attr('data-validate');
                var valm = $(this).attr('data-validate-msg');
                var val2 = $(this).attr('data-validate2');
                var valm2 = $(this).attr('data-validate2-msg');

                console.log($(this))
                console.log(val1, val2);
                if (react && val1 && react[val1]) {
                    alert(valm);
                    return;
                }
                if (react && val2 && react[val2]) {
                    alert(valm2);
                    return;
                }
                if (!reacts[currentModalIndex]) {
                    reacts[currentModalIndex] = { };
                }
                if (reacts[currentModalIndex][key] && reacts[currentModalIndex][key].value == value) {
                    delete reacts[currentModalIndex][key];
                } else {
                    reacts[currentModalIndex][key] = { value: value, first: first };
                }
                parseReact(reacts[currentModalIndex], currentModalIndex);
                parseGPHR(currentModalIndex);
            });

            // 특수 점수 모달 테이블 셀 클릭
            $('.s-form').on('click', function() {
                var key = $(this).attr('data-skey');
                var value = $(this).attr('data-svalue');
                var first = $(this).attr('data-sfirst') == '';
                
                var val1 = $(this).attr('data-validate');
                var val2 = $(this).attr('data-validate2');
                var val3 = $(this).attr('data-validate3');
                var val1m = $(this).attr('data-validate-msg');
                var val2m = $(this).attr('data-validate2-msg');
                var val3m = $(this).attr('data-validate3-msg');
                var score = scores[currentModalIndex];
                var valf = $(this).attr('data-validate-func');

                if (val1 && score && score[val1]) {
                    alert(val1m);
                    return;
                }
                if (val2 && score && score[val2]) {
                    alert(val2m);
                    return;
                }
                if (val3 && score && score[val3]) {
                    alert(val3m);
                    return;
                }
                if (valf && score && eval(valf)) {
                    alert(val1m);
                    return;
                }
                
                if (!scores[currentModalIndex]) {
                    scores[currentModalIndex] = { };
                }
                if (scores[currentModalIndex][key] && scores[currentModalIndex][key].value == value) {
                    delete scores[currentModalIndex][key];
                } else {
                    scores[currentModalIndex][key] = { value: value, first: first };
                }
                parseScore(scores[currentModalIndex], currentModalIndex);
                parseGPHR(currentModalIndex);
            })

            function parse2(det, index) {
                if (det['(2)']) {
                  $('#score-table').find('tr[data-index=' + index +']').find('.select2').val('(2)');
                } else {
                  $('#score-table').find('tr[data-index=' + index + ']').find('.select2').val('');
                }
            }
            function parseDetButton(html, index) {
              $('#score-table').find('tr[data-index=' + index + ']').find('.determinant').html(html || '선택');
            }
            function parseDet(det, index) {
                $('td[data-dkey]').removeClass('active');
                Object.keys(det).forEach(function(key) {
                  $('td[data-dkey="' + key + '"]').addClass('active');
                });
              
                var first = Object.keys(det).filter(function(key) {
                    return det[key].first && key != '(2)';
                }).map(function(key) {
                    return det[key].value;
                }).join('.');
                var selected = Object.keys(det).filter(function(key) {
                    return !det[key].first && key != '(2)';
                }).map(function(key) {
                    return det[key].value;
                }).join('.');

                var merged = [first, selected].filter(function(str) { return str; }).join('.');
                $('#selectedDet').html(merged); 
                parse2(det, index);       
                parseDetButton(merged, index);
            }

            function parseScore(score, index) {
                $('td[data-skey]').removeClass('active');
                Object.keys(score).forEach(function(key) {
                  $('td[data-skey="' + key + '"]').addClass('active');
                });
                var first = Object.keys(score).filter(function(key) {
                    return score[key].first;
                }).map(function(key) {
                    return score[key].value;
                }).join(',');
                var selected = Object.keys(score).filter(function(key) {
                    return !score[key].first;
                }).map(function(key) {
                    return score[key].value;
                }).join(',');

                var merged = [first, selected].filter(function(str) { return str; }).join(',');
                $('#selectedScore').html(merged); 
                parseScoreButton(merged, index);

            }

            function parseReact(react, index) {
                $('td[data-rkey]').removeClass('active');
                Object.keys(react).forEach(function(key) {
                  $('td[data-rkey="' + key + '"]').addClass('active');
                });
                var first = Object.keys(react).filter(function(key) {
                    return react[key].first && key != 'P';
                }).map(function(key) {
                    return react[key].value;
                }).join(',');
                var selected = Object.keys(react).filter(function(key) {
                    return !react[key].first && key != 'P';
                }).map(function(key) {
                    return react[key].value;
                }).join(',');

                var merged = [first, selected].filter(function(str) { return str; }).join(',');
                $('#selectedReact').html(merged);
                parseP(react, index);
                parseReactButton(merged, index);
            }

            function parseP(react, index) {
                if (react['P']) {
                  $('#score-table').find('tr[data-index=' + index + ']').find('.selectP').val('P');
                } else {
                  $('#score-table').find('tr[data-index=' + index + ']').find('.selectP').val('');
                }
            }

            function parseReactButton(html, index) {
              $('#score-table').find('tr[data-index=' + index + ']').find('.react-btn').html(html || '선택');
            }

            function parseScoreButton(html, index) {
              $('#score-table').find('tr[data-index=' + index + ']').find('.score-btn').html(html || '선택');
            }

    script.
        var reactionMapper = {
            '1Wo': 1,
            '1W+': 2, '1Wv/+': 2, '1WS+': 2, '1WSv/+': 2,
            '1WSo': 3, '1DSo': 3, '1DdSo': 3,
            '1D+': 4, '1Dv/+': 4, '1Dd+': 4, '1Ddv/+': 4,
            '1Ds+': 5, '1Dsv/+': 5, '1DdS+': 5, '1DdSv/+': 5,
            '2Wo': 6, '2W+': 6, '2Wv/+': 6,
            '2WSo': 7, '2WS+': 7, '2WSv/+': 7,
            '2DSo': 42, '2DdSo': 42,
            '2D+': 8, '2Dv/+': 8, '2Dd+': 8, '2Ddv/+': 8,
            '2Ds+': 9, '2Dsv/+': 9, '2DdS+': 9, '2DdSv/+': 9,
            '3Wo': 10, '3W+': 10, '3Wv/+': 10, '3WSo': 10, '3WS+': 10, '3WSv/+': 10,
            '3DSo': 42, '3DdSo': 42,
            '3D+': 11, '3Dv/+': 11, '3Dd+': 11, '3Ddv/+': 11,
            '3Ds+': 12, '3Dsv/+': 12, '3DdS+': 12, '3DdSv/+': 12,
            '4Wo': 13,
            '4W+': 14, '4Wv/+': 14,
            '4WSo': 15, '4WS+': 15, '4WSv/+': 15, '4DSo': 15, '4DdSo': 15,
            '4D+': 16, '4Dv/+': 16, '4Dd+': 16, '4Ddv/+': 16,
            '4Ds+': 17, '4Dsv/+': 17, '4DdS+': 17, '4DdSv/+': 17,
            '5Wo': 18,
            '5W+': 19, '5Wv/+': 19,
            '5WSo': 20, '5WS+': 20, '5WSv/+': 20, '5DSo': 20, '5DdSo': 20,
            '5D+': 21, '5Dv/+': 21, '5Dd+': 21, '5Ddv/+': 21,
            '5Ds+': 22, '5Dsv/+': 22, '5DdS+': 22, '5DdSv/+': 22,
            '6Wo': 23,
            '6W+': 24, '6Wv/+': 24,
            '6WSo': 25, '6WS+': 25, '6WSv/+': 25, '6DSo': 25, '6DdSo': 25,
            '6D+': 26, '6Dv/+': 26, '6Dd+': 26, '6Ddv/+': 26,
            '6Ds+': 27, '6Dsv/+': 27, '6DdS+': 27, '6DdSv/+': 27,
            '7Wo': 28, '7W+': 28, '7Wv/+': 28,
            '7WSo': 29, '7WS+': 29, '7WSv/+': 29, '7DSo': 29, '7DdSo': 29,
            '7D+': 30, '7Dv/+': 30, '7Dd+': 30, '7Ddv/+': 30,
            '7Ds+': 31, '7Dsv/+': 31, '7DdS+': 31, '7DdSv/+': 31,
            '8Wo': 32, '8W+': 32, '8Wv/+': 32, '8WSo': 32, '8WS+': 32, '8WSv/+': 32,
            '8DSo': 29,'8DdSo': 29,
            '8D+': 33, '8Dv/+': 33, '8Dd+': 33, '8Ddv/+': 33,
            '8Ds+': 34, '8Dsv/+': 34, '8DdS+': 34, '8DdSv/+': 34,
            '9Wo': 35, '9W+': 35, '9Wv/+': 35, '9WSo': 35, '9WS+': 35, '9WSv/+': 35,
            '9DSo': 15, '9DdSo': 15,
            '9D+': 36, '9Dv/+': 36, '9Dd+': 36, '9Ddv/+': 38,
            '9Ds+': 37, '9Dsv/+': 37, '9DdS+': 37, '9DdSv/+': 37,
            '10Wo': 38, '10W+': 38, '10Wv/+': 38,
            '10WSo': 39, '10WS+': 39, '10WSv/+': 39, '10DSo': 39, '10DdSo': 39,
            '10D+': 40, '10Dv/+': 40, '10Dd+': 40, '10Ddv/+': 40,
            '10Ds+': 41, '10Dsv/+': 41, '10DdS+': 41, '10DdSv/+': 41
        }

        var reactionScore = {
            1: ['ZW(1.0)'],
            2: ['ZA(4.0)'],
            3: ['ZS(3.5)'],
            4: ['ZA(4.0)', 'ZD(6.0)'],
            5: ['ZA(4.0)', 'ZD(6.0)', 'ZS(3.5)'],
            6: ['ZW(4.5)'],
            7: ['ZW(4.5)', 'ZS(4.5)'],
            8: ['ZA(3.0)', 'ZD(5.5)'],
            9: ['ZA(3.0)', 'ZD(5.5)', 'ZS(4.5)'],
            10: ['ZW(5.5)'],
            11: ['ZA(3.0)', 'ZD(4.0)'],
            12: ['ZA(3.0)', 'ZD(4.0)', 'ZS(4.5)'],
            13: ['ZW(2.0)'],
            14: ['ZA(4.0)'],
            15: ['ZS(5.0)'],
            16: ['ZA(4.0)', 'ZD(3.5)'],
            17: ['ZA(4.0)', 'ZD(3.5)', 'ZS(5.0)'],
            18: ['ZW(1.0)'],
            19: ['ZA(2.5)'],
            20: ['ZS(4.0)'],
            21: ['ZA(2.5)', 'ZD(5.0)'],
            22: ['ZA(2.5)', 'ZD(5.0)', 'ZS(4.0)'],
            23: ['ZW(2.5)'],
            24: ['ZW(2.5)', 'ZA(2.5)'],
            25: ['ZS(6.5)'],
            26: ['ZA(2.5)', 'ZD(6.0)'],
            27: ['ZA(2.5)', 'ZD(6.0)', 'ZS(6.5)'],
            28: ['ZW(2.5)'],
            29: ['ZS(4.0)'],
            30: ['ZA(1.0)', 'ZD(3.0)'],
            31: ['ZA(1.0)', 'ZD(3.0)', 'ZS(4.0)'],
            32: ['ZW(4.5)'],
            33: ['ZA(3.0)', 'ZD(3.0)'],
            34: ['ZA(3.0)', 'ZD(3.0)', 'ZS(4.0)'],
            35: ['ZW(5.5)'],
            36: ['ZA(2.5)', 'ZD(4.5)'],
            37: ['ZA(2.5)', 'ZD(4.5)', 'ZS(5.0)'],
            38: ['ZW(5.5)'],
            39: ['ZS(6.0)'],
            40: ['ZA(4.0)', 'ZD(4.5)'],
            41: ['ZA(4.0)', 'ZD(4.5)', 'ZS(6.0)'],
            42: ['ZS(4.5)']
        }

        var numberMapper = {
            'Ⅰ': 1,
            'Ⅱ': 2,
            'Ⅲ': 3,
            'Ⅳ': 4,
            'Ⅴ': 5,
            'Ⅵ': 6,
            'Ⅶ': 7,
            'Ⅷ': 8,
            'Ⅸ': 9,
            'Ⅹ': 10
        }

        function changeZ(index) {
          var row = $('#score-table tr[data-index=' + index + ']');
            var card = row.find('select[name=card] option:selected').val();
            var cardNum = numberMapper[card];
            var loc = row.find('select[name=loc] option:selected').val();
            var dq = row.find('select[name=dq] option:selected').val();

            var key = cardNum + loc + dq;

            var zArr = reactionScore[reactionMapper[key]];

            var zDom = row.find('.selectZ');
            zDom.html('');
            zDom.append($('<option value="">[없음]</option>'));
            if (zArr) {
                zArr.forEach(function(val) {
                    var option = $('<option value="' + val + '">' + val + '</option>');
                    zDom.append(option);
                });

            }
        }

        $(document).ready(function() {
            
            // 카드 변경시 G/PHR 계산
            // add event handler for 반응위치+발달질 변경
            $(document).on('change', 'select[name=card], select[name=loc], select[name=dq]', function() {
                //var index = $(this).closest('tr').index();
                var index = parseInt($(this).closest('tr').attr('data-index'));
                changeZ(index);
                parseGPHR(currentModalIndex);
            });

            $(document).on('change', 'select.select2', function() {
                var val = $(this).val();
                var index = parseInt($(this).closest('tr').attr('data-index'));
                if (val != '(2)') {
                  delete dets[index]['(2)'];
                } else {
                    if (!dets[index]) {
                        dets[index] = { };
                    }
                    dets[index]['(2)'] = { value: '(2)', first: false };
                }
                parseGPHR(index);
            })
            $(document).on('change', 'select.selectP', function() {
                var val = $(this).val();
                var index = parseInt($(this).closest('tr').attr('data-index'));
                if (val != 'P') {
                    delete reacts[index]['P'];
                } else {
                    if (!reacts[index]) {
                        reacts[index] = { };
                    }
                    reacts[index]['P'] = { value: 'P', first: false };
                }
                parseGPHR(index);
            });
            $(document).on('change', 'select[name=fq], select.selectZ', function() {
                var index = parseInt($(this).closest('tr').attr('data-index'));
                parseGPHR(index);
            });
            

            // load default Z array
            changeZ(1);
        })

        function parseGPHR(index) {
            var GPHR = checkGPHR(index);
            $('td[data-skey=PHR]').removeClass('active');
            $('td[data-skey=GHR]').removeClass('active');
            if (GPHR != '') {
                if (scores[index]) {
                    delete scores[index].GHR;
                    delete scores[index].PHR;
                }
                $('td[data-skey=' + GPHR + ']').addClass('active');
                if (!scores[index]) {
                    scores[index] = {};
                }
                scores[index][GPHR] = { value: GPHR, first: false };
                parseScore(scores[index], index);

            } else {
                if (scores[index]) {
                    delete scores[index].GHR;
                    delete scores[index].PHR;
                }
                parseScore(scores[index] || {}, index);
            }
        }

        function stringifyForm() {
            var rowSize = $('#score-table tr').length;
            var ret = [];
            for (var index = 0; index < rowSize; index++) {
              var row = $('#score-table tr[data-index=' + index + ']');
                var card = row.find('select[name=card] option:selected').val();
                var cardNum = numberMapper[card];
                var loc = row.find('select[name=loc] option:selected').val();
                var dq = row.find('select[name=dq] option:selected').val();
                var det = dets[index];
                var fq = row.find('select[name=fq] option:selected').val();
                var select2 = row.find('select.select2 option:selected').val();
                var react = reacts[index];
                var p = row.find('select.selectP option:selected').val();
                var z = row.find('select.selectZ option:selected').val();
                var score = scores[index];

                ret.push({
                    card: cardNum,
                    loc: loc,
                    dq: dq,
                    det: det,
                    fq: fq,
                    select2: select2,
                    react: react,
                    p: p,
                    z: z,
                    score: score
                });
            }
            $('input[name=stringifyText]').val(JSON.stringify(ret));
            return true;
        }
        function checkGPHR(index) {
          var row = $('#score-table tr[data-index=' + index + ']');
          var fq = row.find('select[name=fq] option:selected').val();
          var card = row.find('select[name=card] option:selected').val();
          var cardNum = numberMapper[card];
          var p = row.find('select.selectP option:selected').val();
          score = { };
          score.react = reacts[index];
          score.det = dets[index];
          score.score = scores[index];
          score.fq = fq;
          score.card =  cardNum;
          score.p = p;
          console.log(score);
            if (
              (score.react && (score.react.H || score.react['(H)'] || score.react.Hd || score.react['(Hd)'] || score.react.Hx)) ||
              (score.det && (score.det.active1 || score.det.passive1 || score.det['a-p1'])) ||
              (score.det && (score.det.active2 || score.det.passive2 || score.det['a-p2']) && score.score && (score.score.AG || score.score.COP))
            ) {
                // 1
                if (score.react && score.react.H &&
                  (score.fq == '+' || score.fq == 'o' || score.fq == 'u') &&
                  (!score.score || (score.score && (!score.score.DR1 && !score.score.DR2 && !score.score.INCOM1 && !score.score.INCOM2 && !score.score.FABCOM1 && !score.score.FABCOM2 && !score.score.CONTAM && !score.score.ALOG && !score.score.AG && !score.score.MOR))
                )) { 
                console.log('1')
                  return 'GHR';
                }   

                // 2
                if (
                  (score.fq == '-' || score.fq == 'none') ||
                  ((score.fq == '+' || score.fq == 'o' || score.fq == 'u') && ((score.score) && (score.score.ALOG || score.score.CONTAM || score.score.DV2 || score.score.INCOM2 || score.score.DR2 || score.score.FABCOM2)))
                ) {
                console.log('2')
                  return 'PHR';
                }

                // 3
                if (score.score && score.score.COP && !score.score.AG) {
                console.log('3')
                  return 'GHR';
                }

                // 4
                if ((score.score && (score.score.FABCOM1 || score.score.FABCOM2 || score.score.MOR)) || (score.react && score.react.An)) {
                console.log('4')
                  return 'PHR';
                }

                // 5
                if ((score.card == 3 || score.card == 4 || score.card == 7 || score.card == 9) && score.p === 'P') {
                console.log('5')
                  return 'GHR';
                }
                    // 6
                console.log(score)
                if ((score.score && (score.score.AG || score.score.INCOM1 || score.score.INCOM2 || score.score.DR1 || score.score.DR2)) || (score.react && score.react.Hd)) {
                console.log('6')
                  return 'PHR';
                }

                // 7
                console.log('7')
                return 'GHR';
              } else {
                return '';
              }
              }
