doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Rorschach
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/font-awesome/css/font-awesome.css" rel="stylesheet")
        link(href="/css/animate.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        style.
            .col-form-label {
                padding-top: calc(.375rem + 1px);
                padding-bottom: calc(.375rem + 1px);
                margin-bottom: 0;
                font-size: inherit;
                line-height: 1.5;
            }
    body(style="background-color: #f7f7f7;")
        .loginColumns.animated.fadeInDown
            .row
                .col-md-6.col-md-offset-3
                    .ibox-title
                        .row
                            .col-md-12.text-center.justify-content-center.align-items-center
                                img.img-responsive(src="/rorlogo.png")
                                h5.text-center.mx-auto(style="text-align: center !important; margin-top: 13px;") 로르샤하 해석 지원 시스템을 시작합니다
                    .ibox-content
                        form.m-t(role="form" action="/login" method="POST")
                            .form-group.row
                                label.col-sm-2.col-form-label ID
                                .col-sm-10
                                    input(type="text" class="form-control" placeholder="계정 입력" required="" name="user")
                            .form-group.row
                                label.col-sm-2.col-form-label PW
                                .col-sm-10
                                    input(type="password" class="form-control" placeholder="비밀번호 입력" required="" name="password")
                            button(type="submit" class="btn btn-primary block full-width m-b") 로그인
        script.
            function msieversion() {
                var ua = window.navigator.userAgent;
                var msie = ua.indexOf("MSIE ");

                if (msie > 0) {
                    alert('로샤 채점 프로그램은 크롬에 최적화되어 있습니다.');
                } else {
                    console.log('Good browser');
                }

                return false;
            }