script(src="/js/jquery-2.1.1.js")
script(src="/js/bootstrap.min.js")
script(src="/js/plugins/metisMenu/jquery.metisMenu.js")
script(src="/js/plugins/slimscroll/jquery.slimscroll.min.js")
script(src="/js/inspinia.js")
script(src="/js/plugins/pace/pace.min.js")
script(src="/js/plugins/flot/jquery.flot.js")
script(src="/js/plugins/flot/jquery.flot.tooltip.min.js")
script(src="/js/plugins/flot/jquery.flot.resize.js")
script(src="/js/plugins/chartJs/Chart.min.js")
script(src="/js/plugins/peity/jquery.peity.min.js")
script(src='/js/plugins/floatThead/jquery.floatThead.min.js')
script(src="/js/demo/peity-demo.js")
